body {
    color: rgb(231, 19, 19);
background: #2A7B9B;
background: linear-gradient(90deg,rgb(6, 22, 29) 0%, rgb(181, 29, 120) 50%, rgb(71, 57, 102) 100%);    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(95, 37, 73);
    padding: 20px;
    font-size: 32px;
    color: rgb(3, 24, 52);
}

.chamada {
    background: rgb(91, 21, 165);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(228, 85, 29);
}

.categoria h2 {
    color: rgb(42, 122, 228);
}
